body {
    padding-top: 65px;
    background-image: url('/images/pixelwallpaper.webp');
    background-size: contain;
    position: relative;
    padding-bottom: 65px;
    min-height: 100vh;
}



.transparent {
    background: rgba(255, 255, 255, 0.7);
}



.footer {
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-size: 0.8em;


}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    color: white;
    left: 0;
    background-color: rgba(95, 51, 108, 0.792);
    overflow-x: hidden;
    margin-top: 65px;
    padding-bottom: 115px;
}

div.content {
    margin-left: 120px;
    padding-bottom: 100px;
}

.fixed-top {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 65px;
    padding: 0;
}

#deleteAlert {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
}

#pokeball-logo {
    margin-left: 15px;
}

#tab-container {
    margin-top: 3px;
    width: 200px;
}

table {
    width: 100%;
    height: 100%;
}



@media (max-width:576px) {
    body {
        padding-top: 100px;
    }

    header {
        height: 130px;
        justify-content: center;
    }

    .sidenav {
        visibility: hidden;
    }

    #logo {
        margin-top: 10px;
    }

    #tab-container {
        width: 266px;
        margin-top: 0;
    }

    div.content {
        margin-left: 0px;
        padding-right: 20px;
        padding-top: 0px;
    }

    #deleteAlert {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        font-size: 0.4em;
    }
}